.home_page {
    width: 100vw;
    display: grid;
    justify-items: center;

    // 内容区域
    main {
        width: 100vw;
        display: grid;
        justify-items: center;
        gap: 20px;

        section {
            width: 100vw;
            display: grid;
            justify-items: center;
            padding: 25px 0;

            .container {
                max-width: 1000px;
                margin: 0 auto;
            }

            // 首页主标题
            .leadtitle {
                min-height: 250px;
                display: grid;
                justify-items: left;
                align-content: flex-end;
                gap: 15px;

                h2 {
                    font-size: 30px;
                }

                .leadtext {
                    font-size: 17px;
                    color: #374151;
                }

                .playBtn {
                    margin-top: 8px;
                    padding: 10px 15px;
                    background-color: #2b2b2b;
                    color: #fff;
                    border-radius: 8px;
                }
            }
        }
    }
}